* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

ul,
li {
  list-style: none;
}

.zitichaochu {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dg.ac {
  z-index: 10 !important;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('/assets/YouSheBiaoTiHei.ttf');
  font-weight: normal;
  font-style: normal;
}


.popup3dclass {
  pointer-events: none !important;
}

.popup-close {
  z-index: 3;
}

.popup3d_tianche .popup-close {
  scale: 2;
  right: -11vw !important;
  top: -20vh !important;
}

.popup3d_jitai .popup-close {
  scale: 2;
  right: -11vw !important;
  top: -14vh !important;
}

.popup3d_shalves .popup-close {
  scale: 2;
  right: -11vw !important;
  top: -7vh !important;
}

.popup3d_guidao .popup-close {
  scale: 2;
  right: -11vw !important;
  top: -18vh !important;
}

@keyframes arrowJump {
  0% {
    transform: translate(-50%, 40%);
  }

  50% {
    transform: translate(-50%, 90%);
  }

  100% {
    transform: translate(-50%, 40%);
  }
}